<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
		<title>Home</title>
	</head>
	<body>
		<h1>Tester les modèles qui prédisent si votre commentaire est positif ou négatif</h1>
		<br>
		<a href="/commentaire"><img src="{{ url_for('static',filename='img/music-player-play.png') }}" class="center"></a>
	</body>
</html>